.hero {
  padding-top: 200px;
  padding-bottom: 280px;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--gradient-color),
      var(--gradient-color)
    ),
    url(../../../images/main-page/hero-img.jpg);
  text-align: center;

  &-tittle {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--main-background-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &-button {
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;

    background-color: var(--accent);
    color: var(--main-background-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    transition: var(--animation-duration) var(--animation-timing-function);
  }

  &-button:hover,
  &-button:focus {
    background-color: var(--second-background-color);
    color: var(--text-nav-tittle);
  }
}
