%current-mark {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: $accent;
  border-radius: 2px;

  transition: $animation-duration $animation-timing-function;
}
